h2{
    text-align: center;
    font-size: 100px;
    padding-top:40px;
    justify-content: center;
    
}
h1{
    position: absolute; 
    top: 16px; 
    left: 0; 
    right: 0; 
    z-index: 0; 
    letter-spacing: 1px; 
    font-size: 20px;
    text-align: right;
    justify-content: end;
}
h4{
    position: absolute; 
    top: 40px; 
    left: 0; 
    right: 0; 
    z-index: 0; 
    letter-spacing: 1px; 
    font-size: 15px;
    text-align: right;
    justify-content: end;
}
p{
    font-size: 15px;
    text-align: center;
    /* padding-top:90px; */
    margin: 0; 
    position: absolute; 
    bottom: 30px;
    left: 0; 
    right: 0; 
    z-index: 0; 
}
#author{
    font-size: 15px;
    text-align: center;
    /* padding-top:90px; */
    margin: 0; 
    position: absolute; 
    bottom: 10px;
    left: 0; 
    right: 0; 
    z-index: 0; 
}
body{
   
    color: white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}