h2 {
    color:white;
    text-align: center;
    font-size: 100px;
    position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-shadow:1px 1px black;
    /* padding-top:40px; */
    /* justify-content: center; */
    
}
.greeting{
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 35%;
    top: 65%;
    justify-content: center; 
    text-shadow:1px 1px black;
}
h1{
    position: absolute; 
    top: 16px; 
    left: 0; 
    right: 20px; 
    z-index: 0; 
    letter-spacing: 1px; 
    font-size: 20px;
    text-align: right;
    justify-content: end;
    text-shadow:1px 1px black;
}
h4{
    position: absolute; 
    top: 40px; 
    left: 0; 
    right: 20px; 
    z-index: 0; 
    letter-spacing: 1px; 
    font-size: 15px;
    text-align: right;
    justify-content: end;
    text-shadow:1px 1px black;
}
p{
    font-size: 15px;
    text-align: center;
    /* padding-top:90px; */
    margin: 0; 
    position: absolute; 
    bottom: 30px;
    left: 0; 
    right: 0; 
    z-index: 0; 
    text-shadow:1px 1px black;
}
#author{
    font-size: 15px;
    text-align: center;
    /* padding-top:90px; */
    margin: 0; 
    position: absolute; 
    bottom: 10px;
    left: 0; 
    right: 0; 
    z-index: 0; 
    text-shadow:1px 1px black;
}
body{
   
    color: white;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}